# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# --- PyInstaller ---
# Crucial para no subir los binarios pesados
build/
dist/
*.spec

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Trashes
.Spotlight-V100
.fseventsd

# --- App Specific ---
storage/
instance/
uploads/
*.log
*.db
